version: 2
updates:
  - package-ecosystem: "pip"
    directory: "/"
    schedule:
      interval: "weekly"
      day: "monday"
      time: "02:00"
    allow:
      - dependency-type: "all"
    reviewers:
      - owner
    commit-message:
      prefix: "chore(deps):"
      prefix-development: "chore(deps-dev):"

  - package-ecosystem: "github-actions"
    directory: "/"
    schedule:
      interval: "monthly"
      day: "first"
    reviewers:
      - owner
